<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./styles/live-comment.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <title>liveComment</title>
  <style>
    html,
    body {
      margin: 0px;
    }

    .app {
      width: 100%;
      height: 100vh;
      background: lavender;
    }
  </style>
</head>

<body>
  <div id="app" class="app">
    <div class="live-comment-container" ref="liveCommentContainer" :style="liveCommentContainerStyle">
      <div class="live-comment-dim" :style="liveCommentDimStyle"></div>
      <div class="live-comment-wrap">
        <div class="live-comment-content">
          <p class="handle-content" @touchstart="handleTouchStart" @touchmove="handleTouchMove"
            @touchend="handleTouchEnd"></p>
          <live-comment-list class="live-comment-list" :comments="comments" ref="liveCommentList">
            <div class="loader" ref="loader">
              <div v-show="! isFailedLoad && !isFirst && isLoading">
                <p>loading...</p>
              </div>
              <p v-if="isFirst && !isEmpty">last comment</p>
              <button v-if="isFailedLoad" type="button" name="button" @click="getCommentList">retry</button>
            </div>
          </live-comment-list>
        </div>
      </div>
      <section class="actions">
        <button class="button--like" @click="toggleLike">LIKES!</button>
        <comment-input class="live-comment-component__comment__input">
        </comment-input>
      </section>
    </div>
  </div>
  <script type="module">
    import { LiveCommentListComponent } from "./components/live-comment/live-comment-list/index.js";
    import { LiveCommentListItemComponent } from "./components/live-comment/live-comment-list-item/index.js";
    import { CommentInputComponent } from "./components/live-comment/comment-input/index.js";
    (() => {
      new Vue({
        el: '#app',
        components: {
          'live-comment-list': LiveCommentListComponent,
          'live-comment-list-item': LiveCommentListItemComponent,
          'comment-input': CommentInputComponent,
        },
        data: {
          editMode: false,
          comments: [],
          liveCommentContainerTop: 0,
          initialLiveCommentContainerTop: 0,
          liveCommentContainerPosition: 'bottom',
          transitionDuration: 0,
          touchY: {
            start: 0,
            prev: 0,
            time: 0,
          },
          isFirst: false,
          isLoading: false,
          isFailedLoad: false,
        },
        computed: {
          isEmpty() {
            return this.comments.length === 0;
          },
          liveCommentContainerStyle() {
            return {
              'transition-duration': this.transitionDuration + 'ms',
              top: this.liveCommentContainerTop + 'px'
            };
          },
          liveCommentDimStyle() {
            const maxOpacity = 0.5;
            const ratio = this.initialLiveCommentContainerTop / (this.initialLiveCommentContainerTop - this.liveCommentContainerTop);

            return {
              opacity: Math.min(maxOpacity, maxOpacity / ratio)
            }
          }
        },
        created() {
          this.getCommentList()
            .then((comments) => {
              this.comments = comments.data;
            });
        },
        mounted() {
          this.initialLiveCommentContainerTop = window.innerHeight * 0.2;
          this.liveCommentContainerTop = window.innerHeight * 0.2;
        },
        methods: {
          toggleLike() { },
          handleTouchStart(e) {
            this.touchY.time = e.timeStamp;
            this.touchY.start = e.changedTouches[0].pageY;
            this.touchY.prev = e.changedTouches[0].pageY;
          },
          handleTouchMove(e) {
            const direction = this.touchY.start - e.changedTouches[0].pageY < 0 ? 'down' : 'up';
            const touchDistance = this.getTouchDistance(this.touchY.prev, e.changedTouches[0].pageY);
            this.touchY.prev = e.changedTouches[0].pageY;
            // if (direction == 'up' && this.$refs.liveCommentContainer.offsetTop <= 0) return;

            // can't move under the initial position
            if (direction == 'down' && this.liveCommentContainerTop - touchDistance >= this.initialLiveCommentContainerTop) {
              return;
            }

            this.liveCommentContainerTop -= touchDistance;
            this.transitionDuration = 0;
          },
          handleTouchEnd(e) {
            const totalDistance = this.getTouchDistance(this.touchY.start, e.changedTouches[0].pageY);
            const direction = totalDistance > 0 ? 'up' : 'down';
            const touchTime = e.timeStamp - this.touchY.time;
            const quickAction = touchTime < 200 && Math.abs(totalDistance) > 20;

            if (quickAction || Math.abs(totalDistance) > 100) {
              this.liveCommentContainerTop = direction == 'up' ? 0 : this.initialLiveCommentContainerTop;
              this.liveCommentContainerPosition = direction == 'up' ? 'top' : 'bottom';
              this.transitionDuration = 100;
              return;
            }

            // 제자리
            this.liveCommentContainerTop = this.liveCommentContainerPosition == 'top' ? 0 : this.initialLiveCommentContainerTop;
            this.transitionDuration = 100;

          },
          getTouchDistance(start, end) {
            return start - end;
          },
          getCommentList() {
            if (this.isLoading) return;

            this.isLoading = true;
            this.isFailedLoad = false;

            return fetch('./json/comments.json')
              .then((res) => res.json())
              .finally(() => {
                this.isLoading = false;
              });
          },
        }
      })
    })();
  </script>
</body>

</html>